<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    
    <title>Campus Placement</title>
</head>

<div style="color:blue">
	<form action="{{ url_for('predict')}}" method="POST">
	
	<h1>Placement Predictor</h1>
	
	<h3>Gender</h3>  <select name='gender' id='gender' required='required'>
	<option value='Male'>M</option>
	<option value='Male'>F</option>
	</select>
	
	<h3>What was your Senior Secondary Percentage-10th grade?</h3><input id='first' name='ssc_p' required='required'>
	
	<h3>Senior Secondary Board?</h3>  <select name='ssc_b' id='ssc_b' required='required'>
	<option value='Others'>Others</option>
	<option value='Central'>Central</option>
	</select>
	
	
	<h3>What was your Higher Secondary Percentage-12th grade?</h3><input id='second' name='hsc_p' required='required'>
	
	<h3>Higher Secondary Board?</h3><select name='hsc_b' id='hsc_b' required='required'>
	<option value='Others'>Others</option>
	<option value='Central'>Central</option>
	</select>
	
	<h3> Specialisation in Higher Secondary Board? </h3>  <select name='hsc_s' id='hsc_s' required='required'>
	<option value='Commerce'>Commerce</option>
	<option value='Science'>Science</option>
	<option value='Others'>Others</option>
	</select>
	
	<h3>What was your Degree Percentage?</h3><input id='third' name='degree_p' required='required'>
	
	<h3>Degree Type?</h3>  <select name='degree_t' id='degree_t' required='required'>
	<option value='Sci&Tech'>Sci&Tech</option>
	<option value='Comm&Mgmt'>Comm&Mgmt</option>
	<option value='Others'>Others</option>
	</select>
	
	<h3>Work-Ex?</h3>  <select name='workex' id='workex' required='required'>
	<option value='Yes'>Yes</option>
	<option value='No'>No</option>
	</select>
	
	
	<h3>What is your E-test Percentage?</h3><input id='third' name='etest_p' required='required'>
	
	<h3>Specialisation?</h3>  <select name='specialisation' id='specialisation' required='required'>
	<option value='Mkt&HR'>Mkt&HR</option>
	<option value='Mkt&Fin'>Mkt&Fin</option>
	</select>
	
	<h3>Kindly key in your MBA score</h3><input id='third' name='mba_p' required='required'>

	<br><br><button id="sub" type="submit ">Check Placed or not?</button>
            <br>
	</select>
	
	</form>
	
	<br><br><h3>{{ prediction_texts }}<h3>
</div>

</body>

</html>
